 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../img/About//2c7a83a8588d98d3c19c.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 171px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2994px;
}

.u-section-2 .u-image-1 {
  width: 674px;
  height: 674px;
  background-image: url("../img/About/56652902_693745881042210_41452748008325120_n.jpg");
  background-position: 50% 50%;
  margin: 115px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: -682px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 465px;
  min-height: 461px;
  background-image: none;
  margin: -113px 105px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-2 .u-text-1 {
  margin: 35px 32px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 34px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 32px auto 0;
  padding: 17px 38px 18px 37px;
}

.u-section-2 .u-list-1 {
  margin-top: 229px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-image-2 {
  width: 674px;
  height: 674px;
  background-image: url("../img/About/254529871_276140077778090_4669488024557984109_n.jpg");
  background-position: 50% 50%;
  margin: -113px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: -684px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 465px;
  min-height: 461px;
  background-image: none;
  margin: -111px auto 0 105px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 43px 56px 0 24px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 56px 24px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 32px auto 0;
  padding: 17px 38px 18px 37px;
}

.u-section-2 .u-image-3 {
  width: 674px;
  height: 674px;
  background-image: url("../img/About/228109160_2882739365320277_7397273859554960128_n.jpg");
  background-position: 50% 50%;
  margin: 141px auto 0 0;
}

.u-section-2 .u-shape-3 {
  width: 228px;
  height: 228px;
  margin: -674px 0 0 auto;
}

.u-section-2 .u-group-3 {
  width: 465px;
  min-height: 461px;
  background-image: none;
  margin: -121px 105px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 24px;
}

.u-section-2 .u-text-5 {
  margin: 35px 32px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 34px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 32px auto 0;
  padding: 17px 38px 18px 37px;
}

.u-section-2 .u-image-4 {
  width: 674px;
  height: 674px;
  background-image: url("../img/About/61665588_675222579584069_6703641009214980096_n.jpg");
  background-position: 50% 50%;
  margin: 123px 0 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 228px;
  height: 228px;
  margin: -674px auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 465px;
  min-height: 461px;
  background-image: none;
  margin: -121px auto 0 105px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 24px;
}

.u-section-2 .u-text-7 {
  margin: 35px 32px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 34px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 32px auto 0;
  padding: 17px 38px 18px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 415px;
    margin-top: -118px;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 234px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-group-2 {
    width: 418px;
    margin-top: -123px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 144px;
  }

  .u-section-2 .u-group-3 {
    width: 415px;
    margin-top: -110px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 151px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -659px;
  }

  .u-section-2 .u-group-4 {
    width: 415px;
    margin-top: -114px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 457px;
    height: 457px;
    margin-top: 51px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -456px;
  }

  .u-section-2 .u-group-1 {
    width: 417px;
    min-height: 384px;
    margin-top: -100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 349px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-2 {
    width: 456px;
    height: 456px;
    margin-top: -228px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -456px;
  }

  .u-section-2 .u-group-2 {
    width: 386px;
    min-height: 408px;
    margin-top: -114px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-2 .u-image-3 {
    width: 456px;
    height: 456px;
    margin-top: 120px;
    margin-left: 12px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -456px;
  }

  .u-section-2 .u-group-3 {
    width: 390px;
    min-height: 415px;
    margin-top: -114px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 7px;
  }

  .u-section-2 .u-image-4 {
    width: 456px;
    height: 456px;
    margin-top: 120px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -456px;
  }

  .u-section-2 .u-group-4 {
    width: 398px;
    min-height: 398px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3962px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 85px;
    height: 456px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 176px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -440px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1374px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1376px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 62px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: -342px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 141px;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: -398px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: -331px;
    margin-left: auto;
    margin-bottom: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3014px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 29px;
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-group-1 {
    min-height: 409px;
    margin-top: -285px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 27px 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 36px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 164px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -133px;
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -12px;
    margin-left: 34px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -248px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 43px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -28px;
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 36px;
  }

  .u-section-2 .u-group-3 {
    min-height: 404px;
    margin-top: -316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 74px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 8px;
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 56px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -322px;
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 91px;
  }
} .u-section-3 {
  background-image: url("../img/About/image1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1213px;
}

.u-section-3 .u-map-1 {
  width: 978px;
  height: 254px;
  margin: 147px auto 0;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  letter-spacing: 0px;
  font-size: 2.25rem;
  font-weight: 700;
  width: 584px;
  margin: 187px auto 0;
}

.u-section-3 .u-form-1 {
  height: 390px;
  width: 978px;
  margin: 52px auto 60px;
}

.u-section-3 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-3 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-3 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-3 .u-map-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 74.62% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-3 .u-map-1 {
    width: 720px;
  }

  .u-section-3 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 75.59% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-map-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 79.38% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-3 .u-map-1 {
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 213px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 633px;
}

.u-section-4 .u-group-1 {
  width: 524px;
  min-height: 472px;
  margin: 81px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 29px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 552px;
  margin: -483px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 495px;
  grid-gap: 0px 0px;
}

/* .u-section-4 .u-container-layout-2 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-1 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-3 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-2 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-4 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-3 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-5 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-4 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-6 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-5 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-7 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-8 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-7 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-9 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-8 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-10 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-9 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-11 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-10 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-12 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-11 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

/* .u-section-4 .u-container-layout-13 {
  padding: 16px 20px;
} */

.u-section-4 .u-image-12 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-group-1 {
    width: 447px;
    min-height: 528px;
    margin-top: 46px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-4 .u-list-1 {
    width: 484px;
    margin-top: -512px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-4 .u-group-1 {
    min-height: 400px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 691px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-5 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-6 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-7 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-8 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-9 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-10 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-11 {
    height: 107px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-12 {
    height: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1165px;
  }

  .u-section-4 .u-image-1 {
    height: 134px;
  }

  .u-section-4 .u-image-2 {
    height: 134px;
  }

  .u-section-4 .u-image-3 {
    height: 134px;
  }

  .u-section-4 .u-image-4 {
    height: 134px;
  }

  .u-section-4 .u-image-5 {
    height: 134px;
  }

  .u-section-4 .u-image-6 {
    height: 134px;
  }

  .u-section-4 .u-image-7 {
    height: 134px;
  }

  .u-section-4 .u-image-8 {
    height: 134px;
  }

  .u-section-4 .u-image-9 {
    height: 134px;
  }

  .u-section-4 .u-image-10 {
    height: 134px;
  }

  .u-section-4 .u-image-11 {
    height: 134px;
  }

  .u-section-4 .u-image-12 {
    height: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 813px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-7 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-8 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-9 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-10 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-11 {
    height: 106px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-12 {
    height: 106px;
  }
}