 /* all form */
 .form-waring-text{
    position: absolute;
 }
 /* login form */
.login-form{
    margin-top: 20px;
}
.login-form-group{
    padding: 10px;
}
.link-group p .login-link{
    color: blue;
}
 /* register form */
 .form-register{
    margin-top: 10px;
 }
.register-term .term-link{
    color: blue;
}
/* user profile*/
.user-account-profile{
    padding: 30px;
}
