*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
* a{
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
}
* li{
    list-style: none;
}
:root{
    --headerBackground: rgba(0, 0, 0, 0.5);
    --footerBackground: rgb(44, 44, 44);
    --componentBackground: #F4F4F4;
    --footerExpandnavBackground: rgb(17, 17, 17);
    --buttonColor: #DDC89B;
    --textColor: #fff;
    --footerSmallText: rgb(200, 200, 200);
    --footerDateText: rgb(131,131,131);
    --categoryNameColor: #6F6F6F;
    --productPriceColor: #007a65;
    --redPrimaryColor: #DC3545;
    --textHover: rgb(208, 75, 78);
    --iconHover: red;
    --tableColor: whitesmoke;
    --border: 1px solid rgba(0,0,0,0.25);
    --selectBorder: 1px solid #C4C4C4;
    
}
/* ---------------LAYOUT--------------- */
/* ----------HEADER---------- */
.header-menu{
    height: 100px;
}
.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    background: var(--footerBackground);
    padding: 0px;
    margin: 0px;
    z-index: 3;
}
.logo{
    width: 55px;
    height: 55px;
    margin-left: 20px;
    border-radius: 1000px;
}
.menu a{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    padding: 10px 15px;
}
.menu a:hover{
    color: var(--iconHover)
}
.menu .product{
    position: relative;
}
.nav-bag-container{
    padding: 0px;
    margin-top: 2px;
    display: flex;
    align-self: center;
    align-items: center;
}
.nav-bag-wrapper{
    height: 100px;
    margin-left: 10px;
    margin-top: 75px;
}
.bag-quantity-content, .bag-price-content{
    color: black;
}
.meta-facebook, .meta-instagram, .meta-twitter{
    color: var(--textColor);
    text-decoration: none;
}
.menu .btn-bars{
    font-size: 2.5em;
    display: none;
}
/* ----------HEADER-CATEGORY DROP DOWN---------- */
.services-submenu{
    width: 800px;
    margin-top: 23px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color:whitesmoke;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.25);
}
.submenu-name-wrapper{
    margin: 10px 0px;
}
.services-submenu .submenu-name{
    cursor: pointer;
    color: var(--buttonColor);
    text-transform: uppercase;
    line-height: 2.5rem;
}
.submenu-subname a{
    font-weight: lighter;
    font-size: 14px;
}
.services-submenu .submenu-name:hover{
    color: var(--iconHover)
}
.submenu-name-wrapper>.category-name{
    color: black;
}

/* ----------QUICK VIEW CART---------- */
.quick-view-cart{
    background: white;
    width: 500px;
    position: fixed;
    margin-top: 38px;
    margin-left: -350px;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.25)
}
.quick-view-cart-title-wrapper, .quick-view-cart-subtotal-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quick-view-cart-headtext, .quick-view-cart-price{
    margin: 10px 25px;
    font-size: 18px;
}
.quick-view-cart-price{
    margin-left: 60px;
}
.quick-view-cart-subtotal-title h5{
    margin: 10px 25px;
    font-size: 18px;
}
.quick-view-cart-subtotal{
    margin-left: -15px;
    font-weight: bold;
    color: var(--iconHover)
}
.quick-view-cart-items{
    height: 200px;
    overflow-y: scroll;
}
.btn-view-cart{
    background: black;
    width: 450px;
    height: 50px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-check-out{
    border: none;
    background: var(--productPriceColor);
    width: 450px;
    height: 50px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

/* ----------FOOTER---------- */
.footer-container1{
    background-color: var(--footerBackground);
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    padding-left: 80px;
}
.footer-container1>.footer-container1-col1{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1>.footer-container1-col1>.contact{
    margin-bottom: 50px;
}
.footer-container1>.footer-container1-col1>.contact>h4{
    color: var(--textColor);
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col1>.contact>a{
    color: var(--footerSmallText);
    font-size: 15px;
    letter-spacing: -0.5px;
    text-decoration: none;
}
.footer-container1>.footer-container1-col1>.openingtimes>h4{
    color: var(--textColor);
    letter-spacing: 2px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col1>.openingtimes>span{
    color: var(--footerSmallText);
    font-size: 13px;
    letter-spacing: -0.5px;
}
.footer-container1>.footer-container1-col2{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1>.footer-container1-col2>h4{
    color: var(--textColor);
    letter-spacing: 3px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col2>p{
    line-height: 15px;
}
.footer-container1>.footer-container1-col2>p>i{
    color: white;
}
.footer-container1>.footer-container1-col2>p>a{
    color: var(--iconHover);
    font-size: 15px;
    text-decoration: none;
}
#link{
    color: var(--iconHover);
    text-decoration: none;
    font-size: 13px;
}
#blog{
    color: var(--footerSmallText);
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 15px;
}
#date{
    color: var(--footerDateText);
    font-size: 9px;
}
.footer-containter2{
    background-color: var(--footerExpandnavBackground);
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.footer-containter2>.footer-icon{
    text-align: left;
    margin-left: 30px;
}
.footer-containter2>.footer-icon>a{
    color: var(--textColor);
    font-size: 20px;
    padding: 0 8px;
}
.footer-containter2>.footer-icon>a:hover{
    color: var(--iconHover);
}
#sentence{
    text-align: right;
    margin-right: 30px;
}
#sentence>a{
    text-decoration: none;
    color: var(--textColor);
}
#sentence>a:hover{
    color: var(--iconHover);
}
.footer-container1-col3{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1-col3>h4{
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: 550;
    margin: 0 15px 20px 15px;
}
.gallery1 {
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
}
.gallery1>img {
    width: 100%;
    height: 100%;
    object-position: center;
    transition-duration: 0.1s;
}
.gallery1>img:hover {
    transform: scale(1.1);
}
.gallery1__img1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img4{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img7{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery1__img8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery1__img9{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;  
    grid-row-end: 3;
}
/* ---------------LANDINGPAGE--------------- */
/* ----------TOP-SLIDE---------- */
.landingpage-topslide-wrapper{
    position: relative;
    align-self: center;
}
.landingpage-topslide-img{
    width: 100%;
    height: 300px;
    object-fit: center;
    object-position: center;
    opacity: 0.8;
    filter: blur(1px)
}
.landingpage-topslide-message-wrapper{
    height: 50px;
    position: absolute;
    text-align: center;
    z-index: 2;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landingpage-topslide-logo a img{
    width: 85px;
    height: 85px;
    border-radius: 1000px;
}
.landingpage-topslide-quote{
    padding: 10px;
    background-color: rgba(0,0,0,0.35);
    color: white;
}

/* ----------LANDINGPAGE-SLIDE---------- */
.landingpage-slider{
    margin-top: 100px;
}
.slick-list{
    z-index: 2;
    margin: 0 -5px;
}
.slide-title .top-content{
    display: flex;
    align-items: center;
    border-bottom: var(--border);
}
.slide-title .top-content h4{
    margin-right: 20px;
}
.slide-title .top-content .btn-category{
    margin-right: 10px;
    padding: 3px 15px;
    border: 1px solid var(--categoryNameColor);
    background-color: var(--textColor);
    color: var(--categoryNameColor);
    font-size: 13px;
    font-weight: 700;
}
.slide-title .top-content .btn-active-show{
    border: 1px solid var(--buttonColor);
    color: var(--buttonColor);
    font-size: 13px;
    font-weight: 700;
}
.slide-title .top-content .btn-category:hover{
    border: 1px solid var(--buttonColor);
    background-color: var(--textColor);
    color: var(--buttonColor);
    font-size: 13px;
    font-weight: 700;
}
.btn-click{
    display: block;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 50px; 
}
.btn-previous, .btn-next{
    padding: 5px 8px;
    color:var(--buttonColor);
    background-color: var(--footerBackground);
}
.btn-previous{
    margin-right: 5px;
    border: none;
}
.btn-next{
    margin-left: 5px;
    border: none;

}
/* ----------LANGDINGPAGE CATEGORIES---------- */
.landingpage-category-item-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
}
.landingpage-category-item-wrapper>a{
    position: relative;
    margin-right: 190px;
}
.landingpage-category-item-wrapper img{
    width: 300px;
    height: auto;
    object-fit: center;
    object-position: center;
    margin-bottom: 20px;
}
.landingpage-category-headtext{
    margin-bottom: 20px;
    padding: 0px;
    font-size: 24px;
}
.landingpage-category-item-name{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    background-color: rgba(0,0,0,0.25);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--textColor);
}

/* --------------------PAGES-------------------- */
/* ---------------ABOUT--------------- */
.about-story{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px 100px 50px;
    width: 100%;
    height: 300px;
}
.about-story>.content{
    margin: 0 400px;
}
.title1{
    color: red;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.title2{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.about-img>img{
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: cover;
    margin-bottom: 100px;
}
.about-founders{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 100px;
    width: 100%;
    height: 300px;
    margin-bottom: 250px;
}
.founders-info{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 60px;
}
.info-content{
    top: 50px;
    width: 300px;
    height: 300px;
    border: 0.5px gray solid;
    box-shadow: 0.5em;
}
.info-content>.name{
    margin-top: 60px;
}
.info-content>img{
    position: relative;
    bottom: 250px;
    object-fit: cover;
    object-position: top;
    width: 30%;
    height: 30%;
    border: 3px red solid;
    border-radius: 1000px;
}
.name{
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.name>a{
    color: black;
    text-decoration: none;
}
.name>a:hover{
    color: red;
}
.position{
    font-size: 10px;
    font-weight: bold;
}
.about-register{
    background-color: whitesmoke;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    position: relative;
    align-items: center;
}
.about-register>.register-content{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;
}
.about-register>input{
    border-radius: 3px;
    border: 1px gray solid;
    padding-left: 15px;
}
.about-register>a{
    text-align: center;
    text-decoration: none;
    width: 200px;
    border: black;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: white;
}
.about-register>a:hover{
    color: red;
}
/* ---------------CONTACT--------------- */
.embed-responsive{
    position: relative;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}
.embed-responsive-item{
    width: 1000px;
    height: 300px;
}
.form{
    display: grid;
    grid-template-rows: 50px 300px 40px;
    align-items: center;
    justify-content: center;
}
.contact-send-massage .message{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.contact-send-massage button{
    color: white;
    font-weight: bold;
    padding: 10px 100px;
    margin: 0 40%;
    border-radius: 3px;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;
}
.form .message-info{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-gap: 50px;
    width: 1000px;
}
.message-info>.name,.message-info>.email,.message-info>.phone{
    display: grid;
    grid-template-rows: repeat(2,25px);
}
.message-info span, .message-content span{
    font-size: 18px;
    font-weight: bold;
}
.name>input,.email>input,.phone>input{
    width: 300px;
    font-size: 15px;
    padding: 5px 0px 5px 5px;
}
.message-content{
    display: grid;
    grid-template-rows: 25px, 250px;
}
.message-content>textarea{
    width: 1000px;
}
.contact-content-wrapper .info{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.contact-content-wrapper .info .location, .contact-content-wrapper .info .callus{
    margin-right: 55px;
}
.location-content,.callus-content,.opening-content{
    display: grid;
    grid-template-rows: repeat(2,50px);
}
.title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}
.content{
    font-size: 13px;
}

/* ---------------PRODUCT--------------- */
/* ----------Wrapcrumb---------- */
.wrap-breadcrumb{
    margin: 50px 0px;
}
.wrap-breadcrumb ul{
    display: flex;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.item-link{
    padding: 0px;
    margin: 0px;
}
.item-link>a{
    background-color: var(--componentBackground);
    color: black;
    font-size: 15px;
    font-weight: 530;
    padding: 15px;
}
.item-link1>a{
    background-color: var(--buttonColor);
    color: var(--textColor);
    font-size: 15px;
    font-weight: 530;
    padding: 15px;
    text-transform: uppercase;
}
.item-link>a:hover{
    color: var(--iconHover);
}
.item-link>span{
    background-color: var(--buttonColor);
    color: var(--textColor);
    font-size: 15px;
    font-weight: 530;
    padding: 15px;
}
.wrap-breadcrumb ul li a{
    text-decoration: none;
}
.categoryRoot-link, .categoryName{
    text-transform: uppercase;
}
.categoryRoot-link1{
    text-transform: uppercase;
    padding: 25px;
}
/* ----------Filter-sidebar---------- */
.sidebar-filter{
    padding: 0px;
    margin: 0px;
}
.product-filter-container{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
.filter-title{
   background-color: black;
   font-size: 18px;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #e6e6e6;
   padding: 10px 0 10px 5px;
   float: left;
}
.filter-widget .brand-widget{
    margin-bottom: 0;
}
.widget .widget-content{
   display: inline-block;
   position: relative;
   width: 100%;
   padding-left: 8px;
}
.widget .widget-title{
   font-size: 14px;
   color: #222222;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
   width: 100%;
   text-align: left;
   justify-content: center;
   border-bottom: 1px solid #e6e6e6;
   padding: 10px 0 10px 5px;
   float: left;
}
.widget ul li{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.widget ul li span{
   color: #7d7d7d;
   position: relative;
   font-size: 14px;
}
.widget ul li a{
   text-decoration: none;
   font-size: 14px;
   line-height: 30px;
   color: #444444;
}
.widget ul li a:hover{
   color: #f33a3a;
}
.widget ul li{
   list-style: none;
   float: left;
   width: 100%;
}
.widget ul{
   padding: 0;
   margin: 0;

}
.widget.filter-widget .vertical-list li a:not(.btn-control)::before{
   content: '';
   display: inline-block;
   float: left;
   width: 15px;
   height: 13px;
   background-color: #fafafa;
   border: 1px solid #e9e9e9;
   margin-top: 12px;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::after{
   content: "\f00c";
   font-family: FontAwesome;
   display: inline-block;
   float: left;
   margin-top: 0;
   transform: translateX(-14px);
   -webkit-transform: translateX(-14px);
   -ms-transform: translateX(-14px);
   margin-right: -2px;
   opacity: 0;
   filter: alpha(opacity=0);
   transition: all ease 0.5s 0s;
   -webkit-transition: all ease 0.5s 0s;
   -moz-transition: all ease 0.5s 0s;
   -o-transition: all ease 0.5s 0s;
}
.widget.filter-widget .vertical-list li a:hover::after,
.widget.filter-widget .vertical-list li a.active::after{
   opacity: 1;
   filter: alpha(opacity=100);
}
/* ----------Sort-Product-Nav---------- */
.wrap-shop-control{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort-item-head-text, .use-chosen{
    margin-right: 10px;
}
.sort-item-head-text{
    font-size: 14px;
}
.use-chosen{
    padding: 3px;
    font-size: 14px;
    border: var(--selectBorder);
}
/* ----------Display-Product---------- */
.product-grid-wrapper{
    margin: 20px 0px;
    padding: 5px
}
.product-grid-wrapper:hover{
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.25);
}
.products-grid{
    margin-bottom: 20px;
    z-index: 1;
}
.product-img{
    width: 150px;
    height: 200px;
    object-fit: center;
    object-position: center;
    z-index: -1;
}
.category-name{
    font-size: 12px;
    color: var(--categoryNameColor);
    font-weight: 300;
    margin-bottom: 5px;
}
.product-name{
    width: 150px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-name-item{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    height: 16px;
}
.product-name-item:focus{
    cursor: pointer;
}
.product-price{
    margin: 5px 0px;
    font-size: 19px;
    font-weight: 600;
    color: var(--productPriceColor);
}
.cart-icons{
    display: flex;
}
.meta-cart{
    background-color: black;
    color: var(--textColor);
    font-size: 30px;
    padding: 4px;
}
.meta-wishlist{
    margin-left: 10px;
    background-color: var(--iconHover);
    color: var(--textColor);
    font-size: 30px;
    padding: 4px;
}
.pagination{
    z-index: 2;
    margin-top: 25px;
}
.pagination li{
    margin-right: 10px;
}
.pagination a{
    color: var(--iconHover);
}

/* ----------Display-Product-Detail---------- */
.product-detail-item-info{
    display: flex;
}
.product-detail-info-wrapper{
    padding: 0px 0px 0px 20px;
}
.product-detail-img{
    width: 100%;
    height: auto;
    object-fit: center;
    object-position: center;
    border: var(--border);
}
.product-detail-product-name{
    font-weight: bold;
    line-height: 1.66;
}
.product-detail-product-SKU{
    font-size: 18px;
    color: var(--categoryNameColor)
}
.product-info-review-wrapper{
    display: flex;
    justify-content: space-between;
}
.reviews-action a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}
.stock{
    display: flex;
    align-items: center;
}
.stock span{
    font-size: 11px;
    color: var(--productPriceColor);
}
.meta-instock{
    margin-right: 10px;
    font-size: 20px;
    color: var(--productPriceColor);
}
.product-detail-product-price{
    font-size: 25px;
    color: var(--productPriceColor);
    font-weight: 550;
    margin: 20px 0px;
}
.box-tocart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.field-qty{
    display: flex;
}
.field-qty label>span{
    font-size: 11px;
    font-weight: bold;
}
.field-qty>input{
    width: 50px;
    height: 30px;
    background-color: var(--componentBackground);
    margin-left: 10px;
    text-align: center;
}
.actions{
    display: flex;
    align-items: center;
}
.actions>button{
    border: none;
    background-color: var(--textColor);
}
.actions button>.meta-wishlist{
    background-color: var(--iconHover);
    color: var(--textColor);
    font-size: 30px;
    padding: 4px;
}
.actions button>.meta-addtocart{
    padding: 8px;
    width: 100px;
    height: 35px;
    background-color: var(--productPriceColor);
    color: var(--textColor);
    font-size: 14px;
}
.product-detail-description{
    font-size: 12px;
    line-height: 1.5;
}
.product-detail-item-more-info{
    border: var(--border);
    background-color: var(--componentBackground);
}
.product-detail-item-more-info .card-box .col-sm-3{
    border-right: var(--border);
}
.product-detail-item-more-info .card-box .col-sm-3 a{
    border-bottom: var(--border);
    text-align: center;
}
.product-detail-item-more-info .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: black;
    color: var(--buttonColor);
    font-size: 14.5px;
    font-weight: 700;
}
.product-detail-item-more-info .nav-pills .nav-link{
    color: black;
    font-size: 14.5px;
    font-weight: 700;
}
.product-detail-item-more-info .nav-pills .nav-link {
    border-radius: 0px;
}
.product-detail-item-more-info .card-box .col-sm-9{
    padding: 40px;
    font-size: 11px;
    line-height: 1.66;
}
/* -----Sidebar-Suggest----- */
.sidebar-suggest-wrapper{
    margin: 50px 0px;
    padding: 0px 15px;
}
.sidebar-suggest-img img{
    width: 100%;
    object-fit: center;
    object-position: center;
}
.sidebar-suggest-content{
    margin-top: 50px;
}
.sidebar-suggest-content .title h4{
    font-size: 20px;
    font-weight: 700;
}
.product-detail-item .product-detail-item-name{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.product-detail-item-slide a>.product-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
/* ---------------CART--------------- */
.cart-title{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 550;
}
.cart-table-title-wrapper{
    margin: 0px 0px 20px 0px;
    padding: 10px 5px;
    border-bottom: var(--selectBorder);
}
.cart-table-title{
    font-size: 15px;
    font-weight: 550;
}
.product-item-wrapper{
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: var(--selectBorder);
}
.cart-img-wrapper{
    margin: 0px;
    padding: 0px;
}
.cart-img{
    width: 100%;
    height: auto;
    object-fit: center;
    object-position: center;
    border: var(--selectBorder)
}
.cart-product-name {
    font-size: 13px;
    font-weight: 530;
}
.cart-product-price, .cart-product-total{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.input-text-qty{
    padding: 3px 7px;
}
.cart-checkout-icons{
    display: flex;
    justify-content: space-evenly;
}
.meta-update{
    color: var(--iconHover);
}
.cart-product-total{
    margin-top: 10px;
}
.cart-summary-container{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
.cart-summary-title{
   background-color: black;
   font-size: 13px;
   color: var(--buttonColor);
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
   width: 100%;
   border-bottom: 1px solid #e6e6e6;
   padding: 20px 0 20px 20px;
   float: left;
}
.cart-summary-content{
   display: inline-block;
   position: relative;
   width: 100%;
   padding-left: 8px;
}
.cart-summary-subtotal{
    padding: 25px 0px;
}
.cart-product-subtotal-title{
    font-size: 15px;
}
.cart-product-subtotal-price{
    color: var(--productPriceColor);
    font-weight: bold;
}
.btn-proceed-checkout{
    align-self: center;
}
.btn-checkout{
    width: 200px;
    border: none; 
    background-color: #007a65; 
    color: white; 
    margin: 10px 0px 25px 0px;
    padding: 7px;
    font-size: 15px;
}
/* ---------------RESPONSIVE--------------- */
@media screen and (max-width: 2560px){
}
@media screen and (max-width: 1500px){
    .img2, .img3{
        padding: 0px 24px;
        left: 18px;
    }   
}
@media screen and (max-width: 1440px){
    .wrap-breadcrumb{
        width: 100%;
    }
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 16px;
        font-weight: 500;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 16px;
        font-weight: 500;
    }
    .img2, .img3{
        padding: 0px 24px;
        left: 24px;
    }  
}
@media screen and (max-width: 1400px){
    .img2, .img3{
        padding: 0px 24px;
        left: 30px;
    } 
}
@media screen and (max-width: 1350px){
    .img2, .img3{
        padding: 0px 36px;
        left: 36px;
    }  
} 
@media screen and (max-width: 1300px){
    .img2, .img3{
        padding: 0px 36px;
        left: 42px;
    } 
}
@media screen and (max-width: 1250px){
    .img2, .img3{
        display: none;
    } 
}
@media screen and (max-width: 1200px){
    .menu .contact{
        display: none;
    }
    .gallery1 {
        margin: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 90px);
        grid-gap: 5px;
    }
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 14px;
        font-weight: 500;
    }
}
@media screen and (max-width: 1100px){
    .footer-container1-col1, .footer-container1-col2, .footer-container1-col3{
        width: 350px;
    }
    .gallery1 {
        margin: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 65px);
        grid-template-rows: repeat(3, 65px);
        grid-gap: 5px;
    }
    .sidebar-filter{
        display: none;
    }
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 13px;
        font-weight: 500;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 13px;
        font-weight: 500;
    }
    .services-submenu{
        margin-left: -50px;
    }
    .product-name{
        width: 100px;
    }
}
@media screen and (max-width: 1024px){
    .footer-container1-col1, .footer-container1-col2, .footer-container1-col3{
        width: 250px;
    }
    .gallery1 {
        margin: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 35px);
        grid-template-rows: repeat(3, 35px);
        grid-gap: 5px;
    }
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 12px;
        font-weight: 500;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 12px;
        font-weight: 500;
    }
    .services-submenu{
        margin-left: -100px;
    }
}
@media screen and (max-width: 950px){
    .menu .needhelp, .footer-container1-col3{
        display: none;
    }  
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 9px;
        font-weight: 500;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 9px;
        font-weight: 500;
    }
    .services-submenu{
        margin-left: -200px;
    }
}
@media screen and (max-width: 850px){
    .menu .contact{
        display: none;
    }
    .footer-container1-col2{
        display: none;
    }
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 8px;
        font-weight: 500;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 8px;
        font-weight: 500;
    }
    .services-submenu{
        margin-left: -250px;
    }
}
@media screen and (max-width: 768px){
    .logo{
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }
    .container .product-by-category-display, .container .wrap-shop-control{
        margin-left: 100px;
    }
    .wrap-breadcrumb{
        margin: 20px 80px;
    }
    .wrap-breadcrumb .item-link a{
        background-color: var(--componentBackground);
        color: black;
        font-size: 18px;
        font-weight: 550;
    }
    .wrap-breadcrumb .item-link span{
        background-color: var(--iconHover);
        color: var(--textColor);
        font-size: 18px;
        font-weight: 550;
    }
    header .product, header .about{
        display: none;
    }
    .landingpage-slider{
        margin-left: 80px;
    }
    
}
