/* ---------------RESPONSIVE--------------- */
@media(max-width: 750px){
    .menu .shipping, .menu .cart{
        display: none;
    }
    .forget-password-form-wrapper{
        top: 22%;
        left: 10%;
        width: 550px;
    }
}
@media(max-width: 700px){
    .forget-password-form-wrapper{
        top: 21%;
        left: 10%;
        width: 500px;
    }
    .about-story-wrapper .title2{
        font-size: 15px;
    }
    .about-story-wrapper .title2{
        font-size: 28px;
    }
    .about-story-headline{
        font-size: 13px;
    }
    .about-story-content2{
        font-size: 10px;
    }
    .about-story-content1-paragraph1{
        font-size: 12px;
    }
    .about-story-content1-paragraph2{
        font-size: 12px;
    }
    .landingpage-category-name-wrapper{
        bottom: 105px;
    }
}
@media(max-width: 650px){
    .product-per-page{
        display: none;
    }
    header .meta-facebook, header .meta-instagram, header .meta-twitter{
        display: none;
    }
    .landingpage-slider .img1, .landingpage-slider .img4{
        margin-left: 50px;
    }
    .forget-password-form-wrapper{
        top: 19%;
        left: 8%;
        width: 450px;
    }
    .about-founders{
        margin-left: 140px;
    }
    .landingpage-topslide-img{
        height: 300px;
    }
    .landingpage-topslide-text > .split-text{
        font-size: 2.5rem;
    }
    .landingpage-topslide-text:hover  .split-text::after{
        bottom: 21%;
    }.landingpage-category-grid{
        gap: 2rem;
    }
}  
@media(max-width: 600px){
    .forget-password-form-wrapper{
        top: 18%;
        left: 8%;
        width: 350px;
        height: 200px;
    }
    .forget-password-form-wrapper input{
        margin-bottom: 10px;
    }
    .about-founders{
        margin-left: 120px;
    }
    .about-story-content2{
        font-size: 10px;
    }
    .about-story-content1-paragraph1{
        font-size: 10px;
    }
    .about-story-content1-paragraph2{
        font-size: 10px;
    }
    .landingpage-topslide-text:hover::before {
        width: 95%;
        left: 3%;
    }
    .landingpage-category-name-wrapper{
        bottom: 105px;
    }
    .landingpage-category-name{
        width: 173px;
        height: 173px;
        background-color: rgba(255, 255, 255, .6);
        font-size: 11px;
    }
} 
@media(max-width: 550px) {
    .landingpage-category-name-wrapper{
        bottom: 98px;
    }
    .landingpage-category-name{
        width: 156px;
        height: 156px;
        background-color: rgba(255, 255, 255, .6);
        font-size: 11px;
    }
}
@media(max-width: 500px){
    .menu .shopping{
        display: none;
    }
    .landingpage-slider .img1, .landingpage-slider .img4{
        margin-left: 40px;
    }
    .about-story-content2{
        font-size: 8.5px;
    }
    .about-story-content1-paragraph1{
        font-size: 8.5px;
    }
    .about-story-content1-paragraph2{
        font-size: 8.5px;
    }
    .about-founders{
        margin-left: 80px;
    }
    .landingpage-topslide-text > .split-text{
        font-size: 2rem;
    }
    .landingpage-topslide-text:hover  .split-text::after{
        bottom: 25%;
    }
    .landingpage-category-grid{
        gap: 1rem;
    }
    .landingpage-category-name-wrapper{
        bottom: 95px;
    }
    .landingpage-category-name{
        width: 156px;
        height: 156px;
        background-color: rgba(255, 255, 255, .6);
        font-size: 11px;
    }
}