/* ---------------RESPONSIVE--------------- */
@media(max-width: 425px){
    .menu .blog{
        display: none;
    }
    .footer-container1-col1{
        display: none;
    }
    .about-story-wrapper .title1{
        font-size: 11px;
    }
    .about-story-wrapper .title2{
        font-size: 13px;
    }
    .about-story-headline{
        font-size: 10px;
    }
    .about-story-content2{
        font-size: 7px;
    }
    .about-story-content1-paragraph1{
        font-size: 7px;
    }
    .about-story-content1-paragraph2{
        font-size: 7px;
    }
    .about-founders{
        margin-left: 40px;
    }
    .about-register{
        display: none;
    }
    .forget-password-wrapper .card{
        width: 300px;
        height: 180px;
    }
    .forget-password-form label{
        font-size: 20px;
    }
    .forget-password-form input{
        padding: 5px auto;
    }
    .forget-password-form button{
        font-size: 10px;
        padding: 5px 10px;
    }
    .landingpage-topslide-img{
        height: 250px;
    }
    .landingpage-topslide-text > .split-text{
        font-size: 1.5rem;
    }
    .landingpage-topslide-text:hover  .split-text::after{
        bottom: 28%;
    }
    .landingpage-topslide-text:hover::before {
        width: 90%;
        left: 4.5%;
    }
}
@media(max-width: 375px){  
    .menu .about{
        display: none;
    } 
    .about-story-wrapper .title1{
        font-size: 10px;
    }
    .about-story-wrapper .title2{
        font-size: 11px;
    }
    .about-story-content2{
        font-size: 6px;
    }
    .about-story-content1-paragraph1{
        font-size: 6px;
    }
    .about-story-content1-paragraph2{
        font-size: 6px;
    }
    .about-founders{
        margin-left: 20px;
    }
    .forget-password-wrapper .card{
        margin-left: 30px;
        width: 250px;
        height: 150px;
    }
    .forget-password-form label{
        font-size: 15px;
        margin-top: 20px;
    }
    .forget-password-form input{
        padding: 5px auto;
        font-size: 10px;
    }
    .forget-password-form button{
        font-size: 8px;
        padding: 5px 10px;
    }
    .landingpage-topslide-text > .split-text{
        font-size: 1rem;
    }
    .landingpage-topslide-text:hover  .split-text::after{
        bottom: 33%;
    }
    .landingpage-topslide-text:hover::before {
        width: 88%;
        left: 5%;
    }
}
@media(max-width: 320px){   
    .menu .shopping{
        display: none;
    }      
    .forget-password-wrapper .card{
        margin-left: 25px;
        width: 200px;
        height: 120px;
    }
    .forget-password-form label{
        font-size: 13px;
        margin-top: 10px;
    }
    .forget-password-form input{
        padding: 5px auto;
        font-size: 8px;
    }
    .forget-password-form button{
        font-size: 8px;
        padding: 5px 10px;
    }
}
@media(max-width: 280px){   
    .menu .register, .menu .login{
        display: none;
    } 
    .landingpage-topslide-text > .split-text{
        font-size: .5rem;
    }
    .landingpage-topslide-text:hover  .split-text::after{
        bottom: 40%;
    }
    .landingpage-topslide-text:hover::before {
        height: 1px;
        width: 88%;
        left: 5%;
    }
}